main .hamburguers {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 300px){
    main .hamburguers{
        grid-template-columns: repeat(2, 1fr);
    }

    body {
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside content"
        "footer footer";
    }
}

@media (min-width: 800px){
    main .hamburguers {
        grid-template-columns: repeat(3, 1fr);
    }

    body {
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside content"
        "footer footer";
    }
}
